<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="features"
          type="Switches.FeaturesConfigurationSection, 
          Switches, 
          Version=1.0.0.0, 
          Culture=neutral"
          restartOnExternalChanges="true"
          requirePermission="false"
    />
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  
  <features names="MyFeature1, MyFeature2, MyFeature3">
    <feature name="MyFeature3" activated="false"/>
    <feature name="MyFeature4" activated="true"/>
  </features>
</configuration>
